target/
api/out/
gov-pay-client/out/
!.mvn/wrapper/maven-wrapper.jar

.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.class

#### Payment audit log ####
payment-audit.log
api/src/main/resources/application.properties

api/out/
api-contract/out/
gov-pay-client/out/
model/out/
reference-data/out/
/.apt_generated/
/api/pacts/
