version: '2.1'

services:
  payments-api:
    build:
      context: .
      args:
        - http_proxy
        - https_proxy
        - no_proxy
    image: hmctspublic.azurecr.io/payment/api
    environment:
      - auth.provider.service.client.baseUrl=http://service-auth-provider-api:8080/
      - auth.idam.client.baseUrl=https://idam-test.dev.ccidam.reform.hmcts.net
      - CARD_PAYMENTS_REPORT_SCHEDULER_ENABLED=true
      - CARD_PAYMENTS_EMAIL_FROM=no-reply@reform.hmcts.net
      - CARD_PAYMENTS_EMAIL_TO=pepito@grillo.com
      - CARD_PAYMENTS_EMAIL_MESSAGE=hi
      - CARD_PAYMENTS_EMAIL_SUBJECT=Docker Env Card Payments Reconciliation Report
      - BAR_PAYMENTS_REPORT_SCHEDULER_ENABLED=true
      - BAR_PAYMENTS_EMAIL_FROM=no-reply@reform.hmcts.net
      - BAR_PAYMENTS_EMAIL_TO=pepito@grillo.com
      - BAR_PAYMENTS_EMAIL_MESSAGE=hi
      - BAR_PAYMENTS_EMAIL_SUBJECT=Docker Env Bar Payments Reconciliation Report
      - FEATURE_PAYMENTS_SEARCH=true
      - FEES_REGISTER_URL=https://ccfr-fees-api:8080
      - GOV_PAY_AUTH_KEY_CMC=la0ohpqa9er1bub2hddieeesc6sabbbqn4smkkve7s9ailn3n9d3hbnhc3
      - GOV_PAY_AUTH_KEY_DIVORCE_FRONTEND=la0ohpqa9er1bub2hddieeesc6sabbbqn4smkkve7s9ailn3n9d3hbnhc3
      - GOV_PAY_AUTH_KEY_PROBATE_FRONTEND=la0ohpqa9er1bub2hddieeesc6sabbbqn4smkkve7s9ailn3n9d3hbnhc3
      - GOV_PAY_OPERATIONAL_SERVICES=ccd_gw
      - GOV_PAY_URL=https://publicapi.payments.service.gov.uk/v1/payments
      - payments.report.file.location=.
      - PBA_CMC_PAYMENTS_REPORT_SCHEDULER_ENABLED=true
      - PBA_CMC_PAYMENTS_EMAIL_FROM=no-reply@reform.hmcts.net
      - PBA_CMC_PAYMENTS_EMAIL_TO=pepito@grillo.com
      - PBA_CMC_PAYMENTS_EMAIL_MESSAGE=hi
      - PBA_CMC_PAYMENTS_EMAIL_SUBJECT=Docker Env Card Payments Reconciliation Report
      - PBA_PROBATE_PAYMENTS_REPORT_SCHEDULER_ENABLED=true
      - PBA_PROBATE_PAYMENTS_EMAIL_FROM=no-reply@reform.hmcts.net
      - PBA_PROBATE_PAYMENTS_EMAIL_TO=pepito@grillo.com
      - PBA_PROBATE_PAYMENTS_EMAIL_MESSAGE=hi
      - PBA_PROBATE_PAYMENTS_EMAIL_SUBJECT=Docker Env Card Payments Reconciliation Report
      - PBA_FINREM_PAYMENTS_REPORT_SCHEDULER_ENABLED=true
      - PBA_FINREM_PAYMENTS_EMAIL_FROM=no-reply@reform.hmcts.net
      - PBA_FINREM_PAYMENTS_EMAIL_TO=pepito@grillo.com
      - PBA_FINREM_PAYMENTS_EMAIL_MESSAGE=hi
      - PBA_FINREM_PAYMENTS_EMAIL_SUBJECT=Docker Env Card Payments Reconciliation Report
      - PBA_DIVORCE_PAYMENTS_REPORT_SCHEDULER_ENABLED=true
      - PBA_DIVORCE_PAYMENTS_EMAIL_FROM=no-reply@reform.hmcts.net
      - PBA_DIVORCE_PAYMENTS_EMAIL_TO=pepito@grillo.com
      - PBA_DIVORCE_PAYMENTS_EMAIL_MESSAGE=hi
      - PBA_DIVORCE_PAYMENTS_EMAIL_SUBJECT=Docker Env Card Payments Reconciliation Report
      - PBA_FPL_PAYMENTS_REPORT_SCHEDULER_ENABLED=true
      - PBA_FPL_PAYMENTS_EMAIL_FROM=no-reply@reform.hmcts.net
      - PBA_FPL_PAYMENTS_EMAIL_TO=pepito@grillo.com
      - PBA_FPL_PAYMENTS_EMAIL_MESSAGE=hi
      - PBA_FPL_PAYMENTS_EMAIL_SUBJECT=Docker Env Card Payments Reconciliation Report
      - REFORM_ENVIRONMENT=aat
      - REFORM_SERVICE_NAME=payment-api
      - REFORM_TEAM=cc
      - SPRING_DATASOURCE_URL=jdbc:postgresql://payments-database:5432/payment
      - SPRING_DATASOURCE_USERNAME=payment
      - SPRING_DATASOURCE_PASSWORD=payment
      - SPRING_LIQUIBASE_ENABLED=true
      - SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE=true
      - SPRING_MAIL_PROPERTIES_MAIL_SMTP_SSL_TRUST=*
      - SPRING_MAIL_PORT=25
      - SPRING_MAIL_HOST=mta.reform.hmcts.net
      - TRUSTED_S2S_SERVICE_NAMES=cmc,probate_frontend,divorce_frontend,ccd_gw,bar_api,api_gw,finrem_payment_service,ccpay_bubble,jui_webapp,xui_webapp,fpl_case_service
      - PAYBUBBLE_HOME_URL=https://ccpay-bubble-frontend-aat.service.core-compute-aat.internal
      - PCI_PAL_CALLBACK_URL=https://core-api-mgmt-aat.azure-api.net/telephony-api/telephony/callback
      - ASB_CONNECTION_STRING=some-azure-service-bus-connection-string
    ports:
     - 8080:8080
    depends_on:
     - payments-database
     - service-auth-provider-api
     - ccfr-fees-api

  payments-database:
    container_name: payments-database
    image: postgres:11-alpine
    environment:
      - POSTGRES_USER=payment
      - POSTGRES_PASSWORD=payment
      - POSTGRES_DB=payment
    ports:
      - 5430:5432

  # service-auth-provider
  service-auth-provider-api:
    image: hmctspublic.azurecr.io/rpe/service-auth-provider
    environment:
      - auth.provider.service.server.jwtKey=wThK0f0/lh3FlxFcL4xUWDMI5C1J9KyQBgXV4wseh1e5J1uYJIjvTvArHxQDrYoHJ23xFxjHkOnvNbR5dXRoxA==
      - auth.provider.service.server.microserviceKeys.divorce=AAAAAAAAAAAAAAAA
      - auth.provider.service.testing-support.enabled=true
    ports:
      - 8085:8080

  ccfr-fees-api:
    image: hmctspublic.azurecr.io/fees-register/api
    container_name: ccfr-fees-api
    environment:
    - SPRING_DATASOURCE_URL=jdbc:postgresql://ccfr-fees-database:5432/fees_register
    - SPRING_DATASOURCE_USERNAME=fees_register
    - SPRING_DATASOURCE_PASSWORD=fees_register
    - AUTH_IDAM_CLIENT_BASEURL=https://idam-test.dev.ccidam.reform.hmcts.net
    ports:
    - 8182:8080
    depends_on:
    - ccfr-fees-database

  ccfr-fees-database:
    container_name: ccfr-fees-database
    image: postgres:11-alpine
    environment:
    - POSTGRES_USER=fees_register
    - POSTGRES_PASSWORD=fees_register
    - POSTGRES_DB=fees_register
    ports:
    - 5182:5432
