<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="LOG_LOCATION" value="c:/logs" />

	<appender name="FILE-AUDIT"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_LOCATION}/payment.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				[%thread] %d{yyyy-MM-dd HH:mm:ss} - %msg%n
			</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${LOG_LOCATION}/archived/payment.%d{yyyy-MM-dd}.%i.log
                        </fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

	</appender>

	<appender name="FILE-JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_LOCATION}/payment-json.log</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">

		</encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_LOCATION}/archived/payment-json.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

	</appender>


	<logger name="uk.gov.justice.payment" level="debug"
		additivity="false">
		<appender-ref ref="FILE-AUDIT" />
		<appender-ref ref="FILE-JSON" />
	</logger>

	<root level="error">
		<appender-ref ref="FILE-AUDIT" />
		<appender-ref ref="FILE-JSON" />
	</root>
	<!--
	<logger name="org.springframework" level="debug"
			additivity="false">
		<appender-ref ref="FILE-AUDIT" />
		<appender-ref ref="FILE-JSON" />
	</logger>
	-->
</configuration>