<included>
    <appender name="PAYMENT_AUDIT_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{10}:%line: %msg%n</pattern>
         </layout>
    </appender>

    <logger name="uk.gov.hmcts.payment.api.model.LoggingPaymentService">
        <appender-ref ref="PAYMENT_AUDIT_CONSOLE" />
    </logger>
</included>
