<included>
    <appender name="PAYMENT_AUDIT_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${PAYMENT_AUDIT_FILE:-/opt/cc/payment-api/log/payment-git audit.log}</file>
        <append>true</append>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <jsonGeneratorDecorator class="uk.gov.hmcts.reform.logging.PrettyPrintingDecorator"/>
            <providers>
                <timestamp>
                    <fieldName>timestamp</fieldName>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <pattern>{ "requestId": "%X{requestId}" }</pattern>
                </pattern>
                <arguments/>
            </providers>
        </encoder>
    </appender>

    <logger name="uk.gov.hmcts.payment.api.model.LoggingPaymentService">
        <appender-ref ref="PAYMENT_AUDIT_FILE" />
    </logger>
</included>
