<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>


    <title>Enter your card details.
    </title>



    <link href="govuk-template.css" media="screen" rel="stylesheet" type="text/css"/><!--<![endif]-->


    <link href="govuk-template-print.css" media="print" rel="stylesheet" type="text/css"/>

    <link href="fonts.css" media="all" rel="stylesheet" type="text/css"/>



    <link rel="shortcut icon" href="https://www-integration-1.integration.pymnt.uk/public/images/favicon.ico?0.13.0" type="image/x-icon"/>



    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta property="og:image" content="/public/images/opengraph-image.png?0.13.0"/>

    <link href="application.55802543c06ef5186ae1268341719fac.css" media="screen" rel="stylesheet" type="text/css"/>

</head>
<body>

</body>
</html>