<!DOCTYPE html>
<html lang="" xmlns:th="http://www.w3.org/1999/xhtml"><!--<![endif]-->
<head th:include="head :: head" />

<body class="js-enabled">
<div th:include="header :: header"/>
<main id="content" class="content-wrapper charge-new">
    <h1 class="form-title">Payment Created. </h1>
    <br/> <br/> <br/>
    <div th:utext="'Payment Id: '+${paymentId}" class="form-label-bold">
    </div>
    <div>
        <a th:href="${nextUrl}" class="link">Proceed to payment</a>
    </div>

</main>
<div th:include="footer :: footer" class="footer-wrapper"/>
</body></html>