apiVersion: v2
appVersion: "1.0"
description: Helm chart for the HMCTS payment api
name: payment-api
home: https://github.com/hmcts/ccpay-payment-app
version: 2.3.67
maintainers:
  - name: HMCTS Fees & Payments Dev Team
    email: ccpay@hmcts.net
dependencies:
  - name: java
    version: 5.3.0
    repository: 'oci://hmctspublic.azurecr.io/helm'
  - name: ccpay-refunds-api
    version: 1.0.38
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: ccpay-refunds-api.enabled
  - name: ccpay-bulkscanning-api
    version: 1.0.30
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: ccpay-bulkscanning-api.enabled
  - name: ccpay-notifications-service
    version: 1.0.18
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: ccpay-notifications-service.enabled
